# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

api_key/
*.key
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/planos/*
*/fotos/*
*/templates/*


*.pdf
*.jpg
*.docx
*.xlsx
*.png
*.txt

*.cpg
*.dbf
*.prj
*.shp
*.shx
*.sbn
*.sbx

.ipynb_checkpoints/
client_secrets.json



# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks
