# Carpeta de checkpoints de Jupyter (archivos temporales)
.ipynb_checkpoints/

# Archivos comunes que no necesitas versionar
*.pdf
*.jpg
*.docx
*.xlsx
*.png
*.txt
*.json

# Archivos GIS (Geographic Information System)
*.cpg
*.dbf
*.prj
*.shp
*.shx
*.sbn
*.sbx

# Configuración de IPython
profile_default/
ipython_config.py

# Variables de entorno (NO subir)
.env
